@inject HttpClient Http

@if (SelectedEmployee is not null)
{
    <h3>Employee</h3>

    <div style="width:500px">
        <table class="table table-light">
            <tbody>
                <tr>
                    <td>FirstName</td>
                    <td>@SelectedEmployee.FirstName</td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td>@SelectedEmployee.LastName</td>
                </tr>
                <tr>
                    <td>JobTitle</td>
                    <td>@SelectedEmployee.JobTitle</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>@SelectedEmployee.Department?.DepartmentName</td>
                </tr>
                <tr>
                    <td>Direct Manager</td>
                    <td>@SelectedEmployee?.DirectManager?.FirstName @SelectedEmployee?.DirectManager?.LastName</td>
                </tr>
                <tr>
                    <td>Vacation Days</td>
                    <td>@SelectedEmployee.VacationDays</td>
                    <td><button class="btn btn-primary" @onclick="RecalculateVacationDays">Recalculate</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />

    <button class="btn btn-primary" @onclick="UpdateEmployeeAsync">Update</button>
}
